<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='/styles/base.css'>
  <title>Document</title>
</head>
<body>    
    <h2><%= book.title %></h2> <br>
    <p><%= book.author %></p> <br>
    <img src=<%= book.image_url %> <br>
    <p><%= book.description %></p> <br>
    <p><%= book.isbn %></p> <br>
    <p><%= book.bookshelf %></p> <br>
  <h3>Update this book</h3>
  <%- include ('partials/edit') %>
  <h3>Delete this book</h3>
  <%- include ('partials/delete') %>
  <a href='/'>back to library</a>
</body>
</html>